# 1.1 Organizing tabular data in Python

- what is observation, feature, and values 
- list, access items, perform basic calculation, use for loop to append a list to a nested list 
- same for dictionary, two variation: columwise and rowwise
- turn tabular data to dataframe

In [2]:
# work with list 

house_list0 = [115910, 128, 4]
house_list0.append(house_list0[0]/house_list0[1])
house_list0

[115910, 128, 4, 905.546875]

In [3]:
house_nested_list = [
    [115910, 128, 4],
    [48718, 210, 3],
    [28977, 58, 2],
    [36932, 79, 3]
]

for house in house_nested_list:
    price_per_m2 = house[0]/house[1]
    house.append(price_per_m2)

house_nested_list

[[115910, 128, 4, 905.546875],
 [48718, 210, 3, 231.9904761904762],
 [28977, 58, 2, 499.6034482758621],
 [36932, 79, 3, 467.49367088607596]]

In [4]:
# work with dictionary 
house_dict0 = {
    "price_aprox_usd": 115910, 
    "surface_area" : 128, 
    "rooms": 4
}

house_dict0["price_per_m2"] = house_dict0["price_aprox_usd"] / house_dict0["surface_area"]
house_dict0

{'price_aprox_usd': 115910,
 'surface_area': 128,
 'rooms': 4,
 'price_per_m2': 905.546875}

In [6]:
# dict rowwise 
# this way of storage data is called JSON
houses_rowwise = [
    {
    "price_aprox_usd": 115910, 
    "surface_area" : 128, 
    "rooms": 4
},
    {
    "price_aprox_usd": 48718, 
    "surface_area" : 210, 
    "rooms": 3
},
    {
    "price_aprox_usd": 28977, 
    "surface_area" : 58, 
    "rooms": 2
},
    {
    "price_aprox_usd": 36932, 
    "surface_area" : 79, 
    "rooms": 3
}
]

houses_rowwise

[{'price_aprox_usd': 115910, 'surface_area': 128, 'rooms': 4},
 {'price_aprox_usd': 48718, 'surface_area': 210, 'rooms': 3},
 {'price_aprox_usd': 28977, 'surface_area': 58, 'rooms': 2},
 {'price_aprox_usd': 36932, 'surface_area': 79, 'rooms': 3}]

In [7]:
for house in houses_rowwise:
    house["price_per_m2"] = house["price_aprox_usd"] / house["surface_area"]

houses_rowwise

[{'price_aprox_usd': 115910,
  'surface_area': 128,
  'rooms': 4,
  'price_per_m2': 905.546875},
 {'price_aprox_usd': 48718,
  'surface_area': 210,
  'rooms': 3,
  'price_per_m2': 231.9904761904762},
 {'price_aprox_usd': 28977,
  'surface_area': 58,
  'rooms': 2,
  'price_per_m2': 499.6034482758621},
 {'price_aprox_usd': 36932,
  'surface_area': 79,
  'rooms': 3,
  'price_per_m2': 467.49367088607596}]

In [8]:
# calculate mean 
price = []
for house in houses_rowwise:
    price.append(house["price_aprox_usd"])

mean = sum(price) / len(price)
mean

57634.25

In [13]:
# dict columnwise 
houses_columnwise = {
    "price_aprox_usd": [115910, 48718, 28977, 36932], 
    "surface_area": [128, 210, 58, 79], 
    "rooms": [4,3,2,3]
}

houses_columnwise

{'price_aprox_usd': [115910, 48718, 28977, 36932],
 'surface_area': [128, 210, 58, 79],
 'rooms': [4, 3, 2, 3]}

In [14]:
mean = sum(houses_columnwise["price_aprox_usd"]) / len(houses_columnwise["price_aprox_usd"])
mean

57634.25

In [15]:
# add a key value pair to dict using zip 
price = houses_columnwise["price_aprox_usd"]
area = houses_columnwise["surface_area"]

price_per_m2 = []
for p, a in zip(price, area): 
    price_per_m2.append(p/a)

houses_columnwise["price_per_m2"] = price_per_m2
houses_columnwise

{'price_aprox_usd': [115910, 48718, 28977, 36932],
 'surface_area': [128, 210, 58, 79],
 'rooms': [4, 3, 2, 3],
 'price_per_m2': [905.546875,
  231.9904761904762,
  499.6034482758621,
  467.49367088607596]}

In [16]:
# tabular data to pd dataframe 
import pandas as pd 

df_houses = pd.DataFrame(houses_columnwise)

df_houses

   price_aprox_usd  surface_area  rooms  price_per_m2
0           115910           128      4    905.546875
1            48718           210      3    231.990476
2            28977            58      2    499.603448
3            36932            79      3    467.493671

# 1.2 Preparing Mexico Data

- import and export data 
- df overview 
- data cleaning 

import: df = pd.read_csv("path_to_csvfile") 

export: df.to_csv("path_to_save_csvfile") 

df overview 
- df.shape 
- df.info()
- df.head()

data cleaning 
- drop NaN value: df.dropna(inplace=True)
- remove chars from values: df["column_name"].str.replace("char_to_remove", "", regex=False)
- replace string with float: df["column_name"].astype(float) 
- drop column: df = df.drop("column_name", axis="columns") 
- drop columns: df = df.drop(columns=["column_name1", "column_name2"], inplace=True) 
- add a column from existing data: df["new_column"] = df["existing_column"] with calculation
- split column by comma: df[[col1, col2]] = df["original_col"].str.split(",", expand=True) 
- concatenate dataframe: df = pd.concat([df1, df2, df3])

# 1.3 Exploratory Data Analysis

the first step of EDA is alway to look at the info of df, to see the dtyes and categories of data. Based on the different type, different plots or ways to analysis should be adepted. 

- Location data --> scatter_mapbox 
- categorical data --> value_counts
- numerical data --> describe, hist (histogram), boxplot, outliers

import matplotlib.pyplot as plt 
import matplotlib.pyplot as plt 
import pandas as pd 
imort plotly.express as px 

# scatter mapbox
fig = px.scatter_mapbox(
    df,
    lat = "lat", 
    lon = "lon", 
    center = {"lat":19.43, "lon" = -99.13}, 
    width = 600, 
    height = 600, 
    hover_data = ["price_usd"],
)

fig.update_layout(mapbox_style = "open-street-map") 
fig.show() 

# valuecount sample code 
df["state"].value_counts().head(10)
# show top 10 most appeared states 

# describe 
df["column_name"].describe()
# if want 1+ 
df[["col_1", "col_2"]].describe() 

# histogram 
plt.hist(df['column_name'])

# boxplot 
plt.boxplot(df['column_name'], vert=False)

# label plot 
plt.xlabel("label_name") 
plt.ylabel("label_name") 
plt.title("title_name")

# 1.4 Location or Size: what influence house prices in Mexico?

two ways of analysis

first method 
- groupby state and price, then sort meanvalue 
- plot bar chart

second method 
- scatter plot, correlation, compare Mexico with individual states

# first method 

mean_price_by_state = df.groupby("state")["price_usd"].mean().sort_values(ascending=False) 

mean_price_by_state.plot(
    kind = "bar", 
    xlabel = "State", 
    ylabel = "Mean Price [USD],
    title = "Mean House Price by State"
)

# do the same for state vs. price per m2

# second method 

plt.scatter(x=df["area_m2"], y=df["price_usd"]) 
plt.xlabel("Area [sq meters]") 
plt.ylabel("Price [USD]") 
plt.title("Price vs. Area") 

p_correlation = df["area_m2"].corr(df["price_usd"]) 

# then slice state, repeat the same process and compare 

df_morelos = df[df["state"] == "Morelos"]